/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* apply a natural box layout model to all elements */
/* line 7, ../sass/screen.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* The name for your prefix. String.*/
/* The name for your prefix. String.*/
/* Type of grid, true false */
/* Names for push and pull classes */
/* line 81, ../sass/screen.scss */
.container {
  margin: 0  auto;
  width: 100%;
  max-width: 960px;
}

/* line 89, ../sass/screen.scss */
[class*="span-"].is-parent {
  padding-left: 0;
  padding-right: 0;
}

/* line 94, ../sass/screen.scss */
.row {
  margin-left: -2.08333%;
}
/* line 97, ../sass/screen.scss */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* line 104, ../sass/screen.scss */
[class*="span-"], .third, .fourth, .half {
  float: left;
  padding-left: 1.04167%;
  padding-right: 1.04167%;
}

/* line 110, ../sass/screen.scss */
.fourth {
  width: 25%;
}

/* line 114, ../sass/screen.scss */
.third {
  width: 33.33%;
}

/* line 118, ../sass/screen.scss */
.half {
  width: 50%;
}

/* line 138, ../sass/screen.scss */
.col {
  float: left;
  background: #ccc;
  height: 50px;
  border-radius: 4px;
  text-align: center;
}

/* line 146, ../sass/screen.scss */
.row {
  margin-bottom: 20px;
}

/* line 168, ../sass/screen.scss */
.example {
  background: #eee;
  color: #333;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 20px;
}

/* line 72, ../sass/screen.scss */
.span-1 {
  width: 8.33333%;
}

/* line 72, ../sass/screen.scss */
.span-2 {
  width: 16.66667%;
}

/* line 72, ../sass/screen.scss */
.span-3 {
  width: 25%;
}

/* line 72, ../sass/screen.scss */
.span-4 {
  width: 33.33333%;
}

/* line 72, ../sass/screen.scss */
.span-5 {
  width: 41.66667%;
}

/* line 72, ../sass/screen.scss */
.span-6 {
  width: 50%;
}

/* line 72, ../sass/screen.scss */
.span-7 {
  width: 58.33333%;
}

/* line 72, ../sass/screen.scss */
.span-8 {
  width: 66.66667%;
}

/* line 72, ../sass/screen.scss */
.span-9 {
  width: 75%;
}

/* line 72, ../sass/screen.scss */
.span-10 {
  width: 83.33333%;
}

/* line 72, ../sass/screen.scss */
.span-11 {
  width: 91.66667%;
}

/* line 72, ../sass/screen.scss */
.span-12 {
  width: 100%;
}

/* line 179, ../sass/screen.scss */
.offset-1 {
  margin-left: 8.33333%;
}

/* line 179, ../sass/screen.scss */
.offset-2 {
  margin-left: 16.66667%;
}

/* line 179, ../sass/screen.scss */
.offset-3 {
  margin-left: 25%;
}

/* line 179, ../sass/screen.scss */
.offset-4 {
  margin-left: 33.33333%;
}

/* line 179, ../sass/screen.scss */
.offset-5 {
  margin-left: 41.66667%;
}

/* line 179, ../sass/screen.scss */
.offset-6 {
  margin-left: 50%;
}

/* line 179, ../sass/screen.scss */
.offset-7 {
  margin-left: 58.33333%;
}

/* line 179, ../sass/screen.scss */
.offset-8 {
  margin-left: 66.66667%;
}

/* line 179, ../sass/screen.scss */
.offset-9 {
  margin-left: 75%;
}

/* line 179, ../sass/screen.scss */
.offset-10 {
  margin-left: 83.33333%;
}

/* line 179, ../sass/screen.scss */
.offset-11 {
  margin-left: 91.66667%;
}

/* line 179, ../sass/screen.scss */
.offset-12 {
  margin-left: 100%;
}

/* line 185, ../sass/screen.scss */
.pull-1 {
  margin-left: -8.33333%;
}

/* line 185, ../sass/screen.scss */
.pull-2 {
  margin-left: -16.66667%;
}

/* line 185, ../sass/screen.scss */
.pull-3 {
  margin-left: -25%;
}

/* line 185, ../sass/screen.scss */
.pull-4 {
  margin-left: -33.33333%;
}

/* line 185, ../sass/screen.scss */
.pull-5 {
  margin-left: -41.66667%;
}

/* line 185, ../sass/screen.scss */
.pull-6 {
  margin-left: -50%;
}

/* line 185, ../sass/screen.scss */
.pull-7 {
  margin-left: -58.33333%;
}

/* line 185, ../sass/screen.scss */
.pull-8 {
  margin-left: -66.66667%;
}

/* line 185, ../sass/screen.scss */
.pull-9 {
  margin-left: -75%;
}

/* line 185, ../sass/screen.scss */
.pull-10 {
  margin-left: -83.33333%;
}

/* line 185, ../sass/screen.scss */
.pull-11 {
  margin-left: -91.66667%;
}

/* line 185, ../sass/screen.scss */
.pull-12 {
  margin-left: -100%;
}

/* line 190, ../sass/screen.scss */
.centered {
  float: none;
  margin: 0 auto;
}

/* line 196, ../sass/screen.scss */
.prefix,
.postfix {
  width: 200px;
}
/* line 199, ../sass/screen.scss */
.prefix.span,
.postfix.span {
  background: #f2f2f2;
  border: 1px solid #cccccc;
}
