/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* The name for your prefix. String.*/
/* Style of suffix, either "integer" or "word" */
/* Type of grid, true false */
/* thanks foundation for inspiration */
/* line 53, ../sass/screen.scss */
.span-one {
  width: 60px;
}

/* line 53, ../sass/screen.scss */
.span-two {
  width: 160px;
}

/* line 53, ../sass/screen.scss */
.span-three {
  width: 260px;
}

/* line 53, ../sass/screen.scss */
.span-four {
  width: 360px;
}

/* line 53, ../sass/screen.scss */
.span-five {
  width: 460px;
}

/* line 53, ../sass/screen.scss */
.span-six {
  width: 560px;
}

/* line 53, ../sass/screen.scss */
.span-seven {
  width: 660px;
}

/* line 53, ../sass/screen.scss */
.span-eight {
  width: 760px;
}

/* line 53, ../sass/screen.scss */
.span-nine {
  width: 860px;
}

/* line 53, ../sass/screen.scss */
.span-ten {
  width: 960px;
}

/* line 53, ../sass/screen.scss */
.span-eleven {
  width: 1060px;
}

/* line 53, ../sass/screen.scss */
.span-twelve {
  width: 1160px;
}

/* line 53, ../sass/screen.scss */
.span-thirteen {
  width: 1260px;
}

/* line 53, ../sass/screen.scss */
.span-fourteen {
  width: 1360px;
}

/* line 53, ../sass/screen.scss */
.span-fifteen {
  width: 1460px;
}

/* line 53, ../sass/screen.scss */
.span-sixteen {
  width: 1560px;
}

/* line 53, ../sass/screen.scss */
.span-seventeen {
  width: 1660px;
}

/* line 53, ../sass/screen.scss */
.span-eighteen {
  width: 1760px;
}

/* line 53, ../sass/screen.scss */
.span-nineteen {
  width: 1860px;
}

/* line 53, ../sass/screen.scss */
.span-twenty {
  width: 1960px;
}

/* line 53, ../sass/screen.scss */
.span-twenty-one {
  width: 2060px;
}

/* line 53, ../sass/screen.scss */
.span-tewenty-two {
  width: 2160px;
}

/* line 53, ../sass/screen.scss */
.span-twenty-three {
  width: 2260px;
}

/* line 53, ../sass/screen.scss */
.span-twenty-four {
  width: 2360px;
}
